<!DOCTYPE html>
<html lang="en">
<head>
  <title>SlackPosts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" type="image/png" href="/img/Icon.png"/>
  <link rel="shortcut icon" type="image/png" href="/img/Icon.png"/>
</head>
<body>

<% include partials/nav.ejs %>

<div class="container">
  <center>
  <a href="/CreatePost"><button type="button" class="btn btn-primary">Post</button></a>
</center>
  </br>
  </br>
   <ul>
    <% for(var i=0; i < Dash_Posts.length; i++) { %>
      <li>
       <a href="/UserPost?title=<%= Dash_Posts[i].title %>&User=<%= Dash_Posts[i].User %>"><%= Dash_Posts[i].title %></a>
      </li>
       by <b><%= Dash_Posts[i].User %></b>
      </br>
      <%= Dash_Posts[i].date %>
     </br>
   </br>
     <% } %>
   </ul>

</div>

</body>
</html>
